.container {
  max-width: 700px;
  margin: auto;
  padding: 45px 15px;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
}

.block:not(:last-child) {
  margin-bottom: 20px;
}

.key {
  font-weight: bold;
}

.captain {
  text-align: center;
}
